.section7-swiper {
    width: 1072px;
    height: 400px;
}

.sec7-container{
    width: 100%;
    height: 100%;
}
.sec7-container .logo-swiper-container{
    width: 100%;
    height: 100%;
}

.logoo{
    width: 200px;
    height: 200px;
}