.lp_section1_bigball{
    position: absolute;
    border-radius: 50%;
    height: 1332px;
    width: 1332px;
    background: linear-gradient(145.91deg, #FFFFFF 0%, #E7E7E7 100%);
    z-index: -1;
}

.section1-container{
    display: flex;
    justify-content: space-between;
}

.hp-header-right{
    flex: 0 0 640px;
    padding: 20px 0px 20px 0px;
    margin: 20px 120px 20px 20px;
}

.hp-header-left{
    flex: 0 0 800px;
}

.landingPageTitle{
    color: #3C91A0;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 78px;
    font-weight: 900;
}

.lp_firstPage_subtitle{
    color: #999999;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 40px;
}

.landingPage-sm-Divider{
    box-sizing: border-box;
    height: 1px;
    width: 138px;
    background-color:  #999999 ;
    border: 3px solid #999999;
    opacity: 0.3;
    border-radius: 10px;
    margin-top: 38px;
    margin-bottom: 35px;
}

.lp_firstPageText_1{
    /* height: 226.13px; */
    width: 544px;
    color: #343434;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: right;
}

.btn_sec1{
    font-size: 25px;
    padding: 2px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    border-radius: 6px;
    height: 59px;
    width: 223px;
    padding-top: 15px;
    text-align: center;
}

.lp_section1_grey_background{
    height: 1332px;
    width: 1332px;
    background: linear-gradient(145.91deg, #FFFFFF 0%, #E7E7E7 100%);
    border-radius: 50%;  
}
.lp_section1_left{
    width: 59%;
    position: relative;
    right: 13%;
}
.section1-pic{
    width: 1163px;
    height: 697px;
}
.layer1-img{
   margin-top: 54px;
}
.layer2-img{
    max-height: 544px;
    padding-top: 24px;
    position: relative;
    top: 88px;
    right: 133px;
}
.layer3-img{
    position: relative;
    max-height: 327px;
    top: 188px;
    left: 470px;
}
.section-1{
    padding-top: 70px;
    padding-bottom: 20px;
    direction: rtl;
}
@media screen and (max-width: 700px) {
    .layer1-img{
        padding-right: 10px;
        padding-left: 10px;
    }
    .lp_section1_left{
        width: 100%;
        right: 22%;
        padding-top: 35px;
    }
    .layer2-img{
     display: none;   
    }
    .layer3-img{
        top: 39px;
        left: 2px;
    }
    .section1-pic{
        height: 283px;
    }
    
    .landingPageTitle {
        font-size: 32px;
        justify-self: center;
    }
    .lp_firstPage_subtitle {
        font-size: 21px;
        line-height: 21px;
    }
    .lp_firstPageText_1_container{
       justify-self: center;
    }
    /* .lp_firstPageText_1{
        width: auto;
    } */
    .lp_firstPageText_1{
        font-size: 18px;
        width: auto;
        text-align: center;
    }
    .hp-header-right {
        text-align: center;
        margin: 0;
        display: grid;
    }
    .lp_section1_second_text{
        width: auto;
    }
    .btn_sec1{
        padding: 2px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 27px;
        border-radius: 6px;
        height: 35px;
        width: 156px;
        padding-top: 6px;
        text-align: center;
        justify-self: center;
        font-size: 20px;
    }
    .landingPage-sm-Divider{
        justify-self: center;
        border: 2px solid #999999;
    }
       
}
@media screen and (max-width: 1264px) {
    .lp_section1_left{
        justify-self: end;
        right: 19%;
    }

}

@media screen and (max-width: 1280px) {
    .section1-container{
        display: grid ;
        
    }
}

