.lp_sec8_text{
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 26px;
    margin-right: 10px;
}
.lp_sec8_form-message-text{
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 26px;
    margin-right: 10px;
}

.lp_section8{
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.lp_section8_left_radio_container{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* justify-content: end; */
    gap: 22px;
}

.lp_sec8_inputs{
    background-color: #FB9773;
    box-sizing: border-box;
    height: 55px;
    width: 324px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 25px;
    color: #FFFFFF;

}
.lp_sec8_inputs::placeholder{
    color: #FFFFFF;
    padding: 3px;
}

.lp_sec8_inputs:hover{
    color:#FB9773;
    padding: 3px;
    background-color: #FFFFFF;
}

.lp-section8-title{
    
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 78px;
}

/* .lp_sec8_checkbox {
    height: 26px;
    width: 26px;
    background-color: yellow;
    border-radius: 50%;
    border: none;
} */
/* .lp_sec8_checkbox::after {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
} */

/* .lp_sec8_checkbox {
    width: 26px;
    height: 26px;
    border-radius: 15px;
    top: 2px;
    left: -1px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */
/* .lp_sec8_checkbox:after {
    width: 26px;
    height: 26px;
    border-radius: 15px; */
    /* top: -6px;
    left: 5px; */
    /* position: relative;
    background-color: #FB9773;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */

/* .lp_sec8_checkbox:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: 5px;
    left: -5px;
    position: relative;
    background-color: #FB9773;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */

.lp_sec8_checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid white;
    /* background-color: #e7e6e7; */
    border-radius: 50%;
  }
  .lp_sec8_checkbox:checked {
    background-color: white;
    border-color: white;
  }
  .lp_form-js{
    position: relative;
    overflow: hidden;
  }

  .section8-form-message{
      display: none;
  }
  .lp_se8_big_ball{
    width: 200px;
    height: 200px;
    background: linear-gradient(127.29deg, #FB9773 0%, #FFC1AA 100%);
    position: absolute;
    bottom: -61px;
    left: -66px;
    border-radius: 50%;
    opacity: 0.6;
}

.lp_sec8_small_ball{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(127.29deg, #FB9773 0%, #FFC1AA 100%);
    position: absolute;
    right: 6%;
    top: 38%;
    opacity: 0.6;

    /* ////////////////// */

    /* position: sticky;
    bottom: 186px;
    right: 54px; */

}

  @media screen and (max-width: 700px) {

    .lp_section8{
        display: block;
    }

    .lp-section8-title {
        font-size: 32px;
        line-height: 34px;   
    }

    .lp_sec8_text {
        font-size: 20px;
        line-height: 20px;
    }
    .lp_sec8_inputs {    
        width: 100%;
        margin-left: 0px;
        margin-right: 0px; 
        height: 44px; 
    }
    .lp_sec8_right{
        text-align: center;
        margin-bottom: 24px;
    }
    .lp_sec8_left{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    

    .lp_sec8_checkbox{
        margin-left: 0px;
        margin-right: 0px;

    }
    
    
       
}

@media screen and (max-width: 1000px) {

    .lp_sec8_form-message-text{
        font-size: 35px;
    }
}

@media screen and (max-width: 1500px) {
    .lp_sec8_small_ball{
        top: 5%;
    }

}
