.topnav{


    /* ///// */
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 90;
    padding-top: 30px;
    padding-bottom: 25px;
    /* ///////// */
    /* display: grid; */
    grid-auto-flow: column;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.lp_header_img{
    width: 193px;
    height: 87px;
    margin-bottom: 5px;

}

.lp_nav_middle_links{
    display: flex;
    gap: 88px;
    align-items: center;
}
.wheelchair-logo{
    position: relative;
    left: 30px;
}

.topnav .icon {
    display: none;
}



.landPageTopBarSignUp{
    height: 42px;
    width: 139px;
    font-size: 25px;
    color: #999999;
    border: 1px solid transparent;
}
.landPageTopBarSignUp-slidepop{
    height: 42px;
    text-align: center;
    font-size: 25px;
    color: #999999;
    /* display: inline; */
}
.landPageTopBarSignUp-slidepop:hover{
    font-size: 25px;
    border-radius: 6px;
    border: 1px solid #313131;
   
}

.landPageTopBarSignUp:hover{
    /* font-size: 25px; */
    border-radius: 6px;
    border: 1px solid #313131;
    color: #313131;
    padding-top: 5px;
    padding-bottom: 5px;
    

}
.topbar_left_section :first-child{
    /* font-size: 25px; */
    border-radius: 6px;
    border: 1px solid #313131;
    /* color: #313131; */
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-left: 5px;
}

.topBarFontSize{
    font-size: 25px;
    color: #999999;
}
.topBarFontSize-slidepop-top{
    font-size: 25px;
    color: #999999;
}
.topBarFontSize-slidepop-top:hover{
    color: #3C91A0 ;
    font-weight: 800;
}

.scroll-header-links{
    color: #3C91A0 ;
    font-weight: 800;
}

.topBarFontSize.active,
.topBarFontSize:hover{
    color: #3C91A0 ;
    font-weight: 800;
}

.small_hd_navlinks{
    display: none;
    position: absolute;
    left: 0;
    top: 122px;
}
.smalsize{
    font-size: 15px;
}
.ssm{
    display: grid;
    position: absolute;
    left: 5px;
    top: 79px;
}

@media screen and (max-width: 700px) {
    .wheelchair-logo{
        display: none;
    }
    .topbar_right_icon{
        height: 100px;
        width: 100px;
    }
    .topBarFontSize{
        font-size: 15px;
    }
    .topnav{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }
    .topnav .icon {
        display: block;
    }
    .topbar_left_section :first-child  {
        font-size: 15px;
        border-radius: 6px;
        border: 1px solid #313131;
        /* color: #313131; */
        padding-top: 5px;
        padding-bottom: 5px; 
        margin-left: 5px;
    }
}

@media screen and (max-width: 1000px) {

    .topbar_right_icon{
        height: 100px;
        width: 100px;
    }

    .topnav{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }
    .lp_header_img{
        position: initial;
        top: 14px;
        width: 103px;
        height: 47px;

        /* left: 0px; */
    }

}
.overlay-content {
    padding-top: 50px;
    display: grid;
    height: 100%;

  }


